@media (max-width: 1200px) {

    /*header*/
    .header1 .address, .header1 .mail, .header1 .tel, .header1 .book_button,.header1 .language{
        display: none;
    }
    .header1{
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header1 .logo{
        float: left;
        width: 35%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px;
    }
    .header1 .sidemenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5%;
    }
    
    /*nav*/
    nav{
        display: none;
    }

    /*content one*/
    .first_content{
        background-image: url("../images/content_1_android.png");
        height: 83.33vw;
    }
    .first_content .line_one{
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 18px;
    }
    .first_content .line_two{
        font-size: 60px;
        line-height: 64px;
    }
    .first_content .book_button{
        margin-top: 31px;
    }

    /*content two*/
    .second_content{
        flex-direction: column;
        padding-top: 84px;
        padding-bottom: 88px;
        padding-right: 5%;
        padding-left: 5%;
    }
    .second_content .item{
        width: 100%;
        margin-bottom: 50px;
    }
    .second_content .line{
        display: none;
    }

    /*content three*/
    .third_content{
        flex-direction: column;
        height: unset;
    }
    .third_content .cover{
        width: 100%;
        height: 80vw;
    }
    .third_content .text_content{
        width: 100%;
    }
    .third_content .text_content .first_line{
        font-size: 34px;
        line-height: 39px;
        margin-left: 5%;
        margin-top: 8vw;
    }
    .third_content .text_content .second_line{
        line-height: 26px;
        margin-left: 5%;
        margin-bottom: 8vw;
    }
    .third_content .text_content .third_line{
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }
    .third_content .text_content .third_line .column_one,.third_content .text_content .third_line .column_two{
        width: 100%;
    }

    /*content four*/
    .fourth_content{
        padding-top: 68px;
        padding-bottom: 116px;
    }
    .fourth_content .arrow_left, .fourth_content .arrow_right{
        display: none;
    }
    .fourth_content .rating{
        width: 90%;
    }
    .fourth_content .rating .comment{
        font-size: 28px;
        line-height: 48px;
    }

    /*content five*/
    .fifth_content{
        flex-direction: column;
        height: unset;
        padding-top: 56px;
    }
    .fifth_content .text_content{
        padding-right: 5%;
        padding-bottom: 100px;
        width: 100%;
    }
    .fifth_content .text_content .line_one{
        font-size: 34px;
        line-height: 39px;
    
        margin-bottom: 15px;
    }
    .fifth_content .text_content .line_two{
        font-size: 16px;
        margin-bottom: 35px;
    }
    .fifth_content .text_content .line_three{
        margin-bottom: 35px;
    }
    .fifth_content .text_content .line_four{
        flex-direction: column;
        margin-bottom: 53px;
    }
    .fifth_content .text_content .line_four .column_one, .fifth_content .text_content .line_four .column_two{
        width: 100%;
    }
    .fifth_content .picture_content{
        width: 100%;
        height: unset;

        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 60px;
    }
    .fifth_content .column_one, .fifth_content .column_two{
        width: 100%;
        height: unset;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .fifth_content .picture_content .picture1{
        background-image: url(../images/content_5_1_android.png);
        height: 131.25vw;
    }
    .fifth_content .picture_content .picture2{
        background-image: url(../images/content_5_2_android.png);
        height: 131.25vw;
    }
    .fifth_content .picture_content .picture3{
        background-image: url(../images/content_5_3_android.png);
        height: 131.25vw;
    }
    .fifth_content .picture_content .picture4{
        background-image: url(../images/content_5_4_android.png);
        height: 131.25vw;
    }

    /*content six*/
    .sixth_content{
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .sixth_content .text_content{
        width: 90%;
        margin-left: 5%;
    }
    .sixth_content .line_one{
        font-size: 34px;
        line-height: 39px;
        margin-bottom: 15px;
    }
    .sixth_content .line_two{
        font-size: 16px;
        margin-bottom: 35px;
    }

    /*content seven*/
    .seventh_content{
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .seventh_content .line_one{
        font-size: 34px;
        line-height: 39px;
        margin-bottom: 15px;
    }
    .seventh_content .line_two{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .seventh_content .line_three{
        flex-direction: column;
    }
    .seventh_content .line_three .item{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .seventh_content .line_three .item .picture{
        height: 63.75vw;
    }

    /*footer*/
    footer{
        padding-top: 70px;
        padding-bottom: 23px;
        padding-left: 5%;
        padding-right: 5%;
    }
    footer .logo{
        width: 100%;
    }
    footer .info{
        flex-direction: column;
        margin-bottom: 60px;
    }
    footer .info .line{
        display: none;
    }
    footer .info .item{
        width: 100%;
        margin-bottom: 46px;
    }
    footer .info .item .line1{
        margin-bottom: 30px;
    }
    footer .info .item .line3{
        margin-top: 16px;
        margin-bottom: 18px;
    }

    footer .belowfooter{
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 5%;
        padding-right: 5%;
    }
    footer .belowfooter .copyright, footer .belowfooter .socialmedia{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .first_content .line_two{
        font-size: 24px;
        line-height: 28px;
    }
}